
# Neon database credentials
DATABASE_URL='postgresql://user:password@localhost:5432/myapp'

# Authentication
NEXTAUTH_SECRET='your-secret-key-here' #generate with `openssl rand -base64 32`
NEXTAUTH_URL='http://localhost:3000'

# Image bucket credentials
UPLOADTHING_TOKEN='your-uploadthing-token'
UPLOADTHING_SECRET='your-uploadthing-secret'

# Resend (email service for password recovery)
RESEND_API_KEY='re_your-resend-api-key'

# Pusher (Websockets)
PUSHER_APP_ID='your-app-id'
NEXT_PUBLIC_PUSHER_KEY='your-key'
PUSHER_SECRET='your-secret'
NEXT_PUBLIC_PUSHER_CLUSTER='your-cluster'

