body {
  background: linear-gradient(to bottom, #ffffff 50%, #734a91 50%);
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-panel {
  /*configuracion panel izquierdo (Blanco)*/
  background-color: white;
  padding: 20px;
  border: 1px solid rgb(168, 123, 199);
  width: 70%;
  margin-left: 20%;
  box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.5);
  height: 75%;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}

.right-panel {
  /*configuracion panel derecho (Morado)*/
  padding: 20px;
  background: linear-gradient(203.91deg, #e0b8ff, #734a91 83.33%);
  width: 70%;
  box-shadow: 5px 5px 5px rgba(37, 37, 37, 0.5);
  height: 75%;
  margin-right: 20%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  display: flex; /* Utilizar flexbox para controlar el diseño */
  flex-direction: column; /* Alinear los elementos en una columna */
  justify-content: space-between; /* Distribuir el espacio verticalmente */
}

.title {
  /* Titulo Inicio de Sesion */
  text-align: center;
  color: gray;
  margin-top: 15%;
  margin-bottom: 15%;
  font-size: 200%;
  font-weight: bold;
  font-family: "Nunito", sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.login-btn {
  /* Botón de Acceder */
  background-color: #734a91;
  border-radius: 1ch;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  align-items: center;
  display: block;
  margin: 0 auto;
}

#codigo {
  /* Casilla codigo*/
  border-radius: 7px;
  padding: 8px;
  width: 200px;
  background-color: whitesmoke;
  color: gray;
  width: 80%;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}

#password {
  /* Casilla contraseña */
  border-radius: 7px;
  padding: 8px;
  width: 200px;
  background-color: whitesmoke;
  color: gray;
  width: 80%;
  height: 45px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container input[type="password"] {
  padding-right: 40px;
}

.password-input-container button {
  position: absolute;
  top: 23px;
  right: +50px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#textobienvenido {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 300%;
  margin-top: 20%;
  margin-bottom: 0%;
  font-family: "Nunito", sans-serif;
}

#Imagen {
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: 10px;
  display: block;
}

@media (min-width: 768px) {
  .mi-input {
    width: 50%; /* Ancho del input como el 50% del contenedor padre para pantallas más grandes */
  }
}

.register-text {
  margin-top: 50px;
  font-size: 80%;
  font-family: "Nunito", sans-serif;
}

.register-text a {
  /* Boton de Inicio de Sesion */
  color: #734a91;
  text-decoration: underline;
  font-weight: bold;
  font-size: 85%;
  margin-left: 50%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Cambiar a disposición de fila en pantallas más grandes */
  }

  .left-panel,
  .right-panel {
    width: 50%; /* Ambos paneles ocupan la mitad del ancho en pantallas medianas y grandes */
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1600px; /* Limitar el ancho máximo en pantallas muy grandes */
    margin: 0 auto;
  }
}
