/*Estilo base*/
.message-bubble {
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  word-wrap: break-word;
  word-break: break-word;
}

/* Estilo para la burbuja de mensaje del remitente */
.sender-bubble {
  background-color: #8f61ad;
  align-self: flex-end;
  color: white;
}

/* Estilo para la burbuja de mensaje del destinatario */
.receiver-bubble {
  background-color: #734a91;
  align-self: flex-start;
  color: white;
}

/* Estilos para navegadores WebKit (Chrome, Safari) */
ul.chat-container {
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

ul.chat-container::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

ul.chat-container::-webkit-scrollbar-track {
  background: #efd6ff; /* Color de fondo de la scrollbar */
}

ul.chat-container::-webkit-scrollbar-thumb {
  background: #a87bc7; /* Color del thumb (control de deslizamiento) */
  border-radius: 8px; /* Redondea la barra de desplazamiento */
}

ul.chat-container::-webkit-scrollbar-thumb:hover {
  background: #734a91; /* Color del thumb al pasar el mouse sobre él */
}
