greenlet==3.3.2
joblib==1.5.3
numpy==1.26.4
packaging==25.0
pandas==3.0.1
pip==26.0.1
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
scikit-surprise==1.1.4
scipy==1.17.1
setuptools==80.10.2
six==1.17.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
tzdata==2025.3
wheel==0.46.3
